.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('https://wallpapercave.com/wp/wp4375624.jpg'); /* Replace 'path_to_your_image.jpg' with your image file */
    background-size: cover;
    background-position: center;
    height: 200px; /* Adjust the height as needed */
  }
  
  .header-title {
    color: white;
    text-align: center;
    /* Add additional styles for font size, font weight, etc. */
  }
  