/* index.css */

/* Styles specific to the index.html page */
#greeting {
  font-size: 24px;
  margin-bottom: 20px;
}

/* Event list styles */
ul {
  padding: 0;
  list-style-type: none;
}

li {
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  color: #333;
}

a:hover {
  text-decoration: underline;
  color: #555;
}
