/* Add these styles to your List.css file */
.ship-list {
    display: flex;
    flex-wrap: wrap;
  }
  
  .ship-item {
    width: 150px;
    text-align: center;
    margin: 10px;
  }
  
  .ship-picture {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
  }
  
  .ship-name {
    margin-top: 5px;
    background-color: #001f3f; /* Dark blue background color */
    color: white; /* White font color */
    padding: 5px;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
  }
  
  .ship-name:hover {
    opacity: 0.8; /* Change opacity on hover if desired */
  }
  